{% extends 'base.html.twig' %}

{% block title %}Online index{% endblock %}

{% block body %}

    <table class="table table-light table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for online in onlines %}
            <tr>
                <td>{{ online.name }}</td>
                <td>{{ online.link }}</td>
                <td>
                    <a href="{{ path('online_show', {'id': online.id}) }}">Voir plus</a>
                    <a href="{{ path('online_edit', {'id': online.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('online_new') }}">Ajouter nouveau placement</a>
{% endblock %}
