{% extends 'base.html.twig' %}

{% block title %}Online index{% endblock %}

{% block body %}
    <h1>Online index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for online in onlines %}
            <tr>
                <td>{{ online.id }}</td>
                <td>{{ online.name }}</td>
                <td>{{ online.link }}</td>
                <td>
                    <a href="{{ path('online_show', {'id': online.id}) }}">show</a>
                    <a href="{{ path('online_edit', {'id': online.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('online_new') }}">Create new</a>
{% endblock %}
